html,body,#content,#root{
  height: 100%;
}

html {
  background: linear-gradient(to right bottom, #ed1c24, #e21577, #ac4ead, #606abb, #2274a5) no-repeat center center fixed;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 599px) {
  .content {
    padding: 54px;
  }
}

@media only screen and (min-width: 600px) {
  .content {
    padding: 64px;
  }
}

.link-input {
  width: 100%;
}